div#page-wrap
	
	img(src='/images/cthulu.png',id='pic')
	
	div#contact-info.vcard
	h1.fn Fadrizul H.
	p
		.line Mobile: <span class="tel">016-366-2458</span>
		| Email: 
		a(href='mailto:fadrizul@gmail.com') fadrizul@gmail.com
		
	div#objective
		p.
			I have a very strong technical experience in web developing and has successfully designed, developed, and supported live applications whilst providing exceptional contributions to customer service for all customers. I have a full understanding of the full life cycle of a software development project and experienced in learning and excelling at new technologies as needed because I always strive for continued excellence.

	.clear
	
		dl
			dd.clear
		
			dt Education 
			dd 
				h2 Diploma in Information Technology
				p
					.line <strong>Multimedia University</strong>
					.line Melaka, Malaysia
			
			dt 
			dd 
				h2 Advance Level (A-Level) in Electronic Engineering
				p
					.line <strong>Norwich City College</strong>
					.line Norwich, England

			dt 
			dd 
				h2 General Certificate of Secondary Education (GCSE) 
				p
					.line <strong>Earlham High School</strong>
					.line Norwich,England
				
			

			dd.clear
			
		dl
			dt Employment History 
			dd 
				h2 Art In Software Sdn. Bhd. <span>Inkubator K-Ekonomi, Melaka</span>
				p
					.line <strong>Position:</strong> PHP Programmer
					.line <strong>Period:</strong> November 2008 - Present
				
			dt
			dd
				h2 National Semiconductor Bhd. <span>Batu Berendam, Melaka</span>
				p
					.line <strong>Position:</strong> .Net Programmer
					.line <strong>Period:</strong> June 2008 - Nov 2008
			
			dd.clear
			
		dl
			dd.clear
		
			dt Technical Experience 
			dd 
				h2 PHP & MySQL 
				ul
					li Over three years of professional / technical experience. 
					li Experienced in CakePHP, DoPHP, CodeIgniter and Symphony
				
			dt
			dd
				h2 HTML / CSS / Javascript
				ul
					li More than three years of professional / technical experience. 
					li Experienced in BlueprintCSS, HTML5, JQuery, Prototype, Scriptaculous, NodeJS, ExpressJS, Jade and Stylus
			
			dt
			dd
				h2 Oracle Database
				ul
					li Two years of professional / technical experience. 
					li Experienced Oracle 9, 10 and 11
			dd.clear
			
			dl
			dd.clear
		
			dt Project Experience
			dd 
				h2 NodeChatter <span>NodeJS, ExpressJS, Db-MySQL</span>
				p 
					| NodeChatter is an online system that provides business solution for online entrepreneurs to enhance communications with their customers.
					.line
					a(href='http://www.nodechatter.com') www.nodechatter.com
					
			dt 
			dd 
				h2 Bitumix Properties <span>CakePHP 2.0, HTML5, CSS3, JQuery</span>
				p 
					| Bitumix.my is a corporate site for Bitumix Properties Sdn. Bhd.
					.line
					a(href='http://www.bitumux.my') www.bitumix.my
					
			dt 
			dd 
				h2 Charis Beauty Centre <span>CakePHP 1.3, BlueprintCSS, JQuery</span>
				p 
					| Charis.my is a corporate site for Charis Beauty Centre Sdn. Bhd.
					.line
					a(href='http://www.charis.my') www.charis.my
					
			dt
			dd 
				h2 PLBK <span>CakePHP 1.3, BlueprintCSS, JQuery, Oracle, TCPDF</span>
				p 
					| Pusat Latihan Berdaftar Kontraktor (PLBK) is an online course management site for Construction Industry Development Board (CIDB) to monitor certified training centres and enables visitors to register courses available. 
					.line
					a(href='http://www.cidb.gov.my/plbk') www.cidb.gov.my/plbk
					
			dt
			dd 
				h2 1ROC <span>CakePHP 1.2, Prototype, Scriptaculous, Oracle, TCPDF, DynamicTwain</span>
				p 
					| One Registration of Contractors (1ROC) is an online contractor registration that enables Construction Industry Development Board (CIDB) to manage all of the contractors in the country. It has a feature that allows users to scan documents with a scanner and store them inside CIDB's Oracle database.
					.line
					a(href='http://1roc.cidb.gov.my/') 1roc.cidb.gov.my
			
			dt 
			dd 
				h2 Aerotree Defense & Services <span>CakePHP 1.2, Prototype, Scriptaculous</span>
				p 
					| Aerotree.com.my is a corporate site for Aerotree Defense & Services Sdn. Bhd.
					.line
					a(href='http://www.aerotree.com.my') www.aerotree.com.my
					
			dt 
			dd 
				h2 eLatihan Kemahiran <span>CakePHP 1.2, Prototype, Scriptaculous</span>
				p 
					| E-Latihan is a course registration site for Akademi Binaan Malaysia to manage registered participants online. Visitors are able to choose which course they would want to undergo by registering online.
					.line
					a(href='http://www.cidb.gov.my/elatihan/') www.cidb.gov.my/elatihan
					
			dt 
			dd 
				h2 Standard Guru Malaysia<span>CakePHP 1.2</span>
				p 
					| Standard Guru Malaysia (SGM) is an online system that enables Ministry of Education department to generate questionnaire dynamically for teachers & lecturer nationwide. Their performance or rating will be graded based on this system.
					.line
					a(href='http://www.moe.gov.my/sgm/') www.moe.gov.my/sgm
			

			dd.clear
		
			dt References
			dd 
				p Available on request
			dd.clear